In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import csv

In [3]:
df = pd.read_csv("C:\\Users\Admin\\OneDrive\\Máy tính\\tài liệu học tập\\AIL303m\\Life-Expectancy-Data.csv")
print(f"sample size = {df.shape[0]}\nnumber of columns = {df.shape[1]}")
df.head()

sample size = 2938
number of columns = 22

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [4]:
df.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [18]:
df.pivot_table(columns=['Country'], aggfunc='size')

Country
Afghanistan                           16
Albania                               16
Algeria                               16
Angola                                16
Antigua and Barbuda                   16
                                      ..
Venezuela (Bolivarian Republic of)    16
Viet Nam                              16
Yemen                                 16
Zambia                                16
Zimbabwe                              16
Length: 193, dtype: int64

In [19]:
a =  df[df['Country'] == 'Afghanistan']
a

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
5,Afghanistan,2010,Developing,58.8,279.0,74,0.01,79.679367,66.0,1989,...,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2
6,Afghanistan,2009,Developing,58.6,281.0,77,0.01,56.762217,63.0,2861,...,63.0,9.42,63.0,0.1,445.893298,284331.0,18.6,18.7,0.434,8.9
7,Afghanistan,2008,Developing,58.1,287.0,80,0.03,25.873925,64.0,1599,...,64.0,8.33,64.0,0.1,373.361116,2729431.0,18.8,18.9,0.433,8.7
8,Afghanistan,2007,Developing,57.5,295.0,82,0.02,10.910156,63.0,1141,...,63.0,6.73,63.0,0.1,369.835796,26616792.0,19.0,19.1,0.415,8.4
9,Afghanistan,2006,Developing,57.3,295.0,84,0.03,17.171518,64.0,1990,...,58.0,7.43,58.0,0.1,272.563770,2589345.0,19.2,19.3,0.405,8.1
10,Afghanistan,2005,Developing,57.3,291.0,85,0.02,1.388648,66.0,1296,...,58.0,8.70,58.0,0.1,25.294130,257798.0,19.3,19.5,0.396,7.9
11,Afghanistan,2004,Developing,57.0,293.0,87,0.02,15.296066,67.0,466,...,5.0,8.79,5.0,0.1,219.141353,24118979.0,19.5,19.7,0.381,6.8
12,Afghanistan,2003,Developing,56.7,295.0,87,0.01,11.089053,65.0,798,...,41.0,8.82,41.0,0.1,198.728544,2364851.0,19.7,19.9,0.373,6.5
13,Afghanistan,2002,Developing,56.2,3.0,88,0.01,16.887351,64.0,2486,...,36.0,7.76,36.0,0.1,187.845950,21979923.0,19.9,2.2,0.341,6.2
14,Afghanistan,2001,Developing,55.3,316.0,88,0.01,10.574728,63.0,8762,...,35.0,7.80,33.0,0.1,117.496980,2966463.0,2.1,2.4,0.340,5.9
15,Afghanistan,2000,Developing,54.8,321.0,88,0.01,10.424960,62.0,6532,...,24.0,8.20,24.0,0.1,114.560000,293756.0,2.3,2.5,0.338,5.5

In [49]:
df1 = pd.read_csv("C:\\Users\\Admin\\testttt_A.csv")
print(f"sample size = {df1.shape[0]}\nnumber of columns = {df1.shape[1]}")
df1

sample size = 31
number of columns = 3

    year  train  test
0   2000   54.8  55.3
1   2001   55.3  56.2
2   2002   56.2  56.7
3   2003   56.7  57.0
4   2004   57.0  57.3
5   2006   57.3  57.3
6   2005   57.3  57.5
7   2007   57.5  58.1
8   2008   58.1  58.6
9   2009   58.6  58.8
10  2010   58.8  59.2
11  2011   59.2  59.5
12  2012   59.5  59.9
13  2014   59.9  59.9
14  2013   59.9  65.0
15  2015   65.0   NaN
16  2016    NaN   NaN
17  2017    NaN   NaN
18  2018    NaN   NaN
19  2019    NaN   NaN
20  2020    NaN   NaN
21  2021    NaN   NaN
22  2022    NaN   NaN
23  2023    NaN   NaN
24  2024    NaN   NaN
25  2025    NaN   NaN
26  2026    NaN   NaN
27  2027    NaN   NaN
28  2028    NaN   NaN
29  2029    NaN   NaN
30  2030    NaN   NaN

In [21]:
from sklearn.linear_model import LinearRegression

In [54]:
X_train = df1.iloc[:15,1:2].values # all cols and rows except the last(quality)
Y_train = df1.iloc[:15,2:3].values #the col quality
X_test = df1.iloc[16:17,1:2].values # all except type

In [52]:
# Create a linear regression object
regression = LinearRegression()
X_train = df1.iloc[:15,1:2].values # all cols and rows except the last(quality)
Y_train = df1.iloc[:15,2:3].values #the col quality
X_test = df1.iloc[15:16,1:2].values # all except type


# Train the model
regression.fit(X_train, Y_train)

# Predict using the trained model

predictions = regression.predict(X_test)
a = predictions
print(type(a))
b = round(a[0][0],2)
print(b)
print(predictions)

<class 'numpy.ndarray'>
67.26
[[67.25698393]]

In [56]:
X_train

array([[54.8],
       [55.3],
       [56.2],
       [56.7],
       [57. ],
       [57.3],
       [57.3],
       [57.5],
       [58.1],
       [58.6],
       [58.8],
       [59.2],
       [59.5],
       [59.9],
       [59.9]])

In [33]:
# Specify the CSV file path
csv_file = 'C:\\Users\\Admin\\testttt_A.csv'

# Define the data to be written
data = '67.26'

# Open the CSV file in read mode
with open(csv_file, 'r', newline='') as file:
    reader = csv.reader(file)
    rows = list(reader)

# Update the value at row 15, column 3
rows[16][2] = data

# Open the CSV file in write mode
with open(csv_file, 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

In [64]:
def blablo(csv_path):
    df1 = pd.read_csv(csv_path)
    regression = LinearRegression()
    for z in range(15,32):
        X_train = df1.iloc[:15,1:2].values # all cols and rows except the last(quality)
        Y_train = df1.iloc[:15,2:3].values #the col quality
        X_test = df1.iloc[z:(z+1),1:2].values # all except type


        # Train the model
        regression.fit(X_train, Y_train)

        # Predict using the trained model

        predictions = regression.predict(X_test)
        a = predictions
        #print(type(a))
        b = round(a[0][0],2)
        # Define the data to be written
        data = b

        # Open the CSV file in read mode
        with open(csv_file, 'r', newline='') as file:
            reader = csv.reader(file)
            rows = list(reader)

        # Update the value at row 15, column 3
        rows[z+1][2] = data
        rows[z+2][1] = data

        # Open the CSV file in write mode
        with open(csv_file, 'w', newline='') as file:
            writer = csv.writer(file)
            writer.writerows(rows)
            #writer.writerows(rowss)
        print(data)
            
blablo("C:\\Users\\Admin\\testttt_A.csv")

67.26
70.01
73.36
77.43
82.39
88.42

ValueError: Input X contains NaN.
LinearRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [61]:
for x in range(15,32):
    print(x)

15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31

In [80]:
csv_file = "C:\\Users\\Admin\\OneDrive\\Máy tính\\tài liệu học tập\\AIL303m\\testttt_AA.csv"
a=15
for z in range(15,30):    
    data = z

    # Open the CSV file in read mode
    with open(csv_file, 'r', newline='') as file:
        reader = csv.reader(file)
        rows = list(reader)

    # Update the value at row 15, column 3
    rows[a+1][4] = data
    rows[a+2][3] = data

    # Open the CSV file in write mode
    with open(csv_file, 'w', newline='') as file:
        writer = csv.writer(file)
        writer.writerows(rows)
        #writer.writerows(rowss)
    print(z)
    a = a + 1

15
16
17
18
19
20
21
22
23
24
25
26
27
28
29